.header {
  grid-area: head;
  background-color: #f9f5f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-left: 4rem;
  height: 4.6rem;
  display: block;
}

.container {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);

  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'head head'
    'list recipe';
}
@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
