.upload {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 6rem;
}
.upload__column {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    align-items: center;
    gap: 1.5rem;
}
.upload__column input {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    transition: all 0.2s;
}
.upload__column input::placeholder {
    color: #d3c7c3;
}

.upload__column input:focus {
    outline: none;
    border: 1px solid #f38e82;
    background-color: #f9f5f3;
}

.upload__column input.invalid {
    border-color: #f48982;
    background: #f26c62;
}
.upload__column label {
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit;
}
.upload__heading {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    grid-column: 1/-1;
}
