.card {
    overflow-y: auto;
    max-width: 100rem;
    width: 90%;
    max-height: 90vh;

    background-color: white;
    border-radius: 9px;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
}
