@import '/src/styles/abstracts/variables';

.header {
    grid-area: head;
    background-color: $color-grey-light-1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        margin-left: 4rem;
        height: 4.6rem;
        display: block;
    }
}
